<script type='text/javascript'>
  window.onload = function(){
    var universe = new Universe();

    // Ptolemy's Mars
    universe.init({ sun:{},earth:{type:'center'},mars:{}  });
    universe.planets.sun.eccentric(0);
    universe.planets.sun.aus  = 45;

    universe.planets.mars.aus = 60; // every ptolemaic planet has a deferent with radius 60?
    <%= render 'mars' %>

    universe.setup(1); 
  }
</script>

<div id='lefttext'>
  The equant is a bitch.  Everybody that came after Ptolemy said so.  It violated the principal
  of uniform motion.  It didn't make any sense.  It was painful to calculate.   The one thing
  Copernicus did that every astronomer in medieval Europe agreed was brilliant was that he
  got rid of the equant.  Copernicus got rid of the equant by using the Arabic
  models of al-Tusi and al-Urdi that were then little known in Europe.

  <p>The equant point is the second point past the eccentric.  If you pay close attention
  you'll note that Mars' deferent slows down with respect to the eccentric as it approaches
  closer to the equant point, and speeds up as it moves further away.  If you watch the line
  from the equant point to the deferent, however, it moves uniformly. 

  
</div>
