<script>
  window.onload = function(){
    var universe = new Universe( { earth:{type:'center'},mercury:{},sun:{} });
    universe.rate = 1;
    universe.label = true;
    universe.max_planet_size = 10;
    universe.min_planet_size = 5;

    universe.planets.sun.aus = 23;

    mm    = universe.planets.sun.mm;

    universe.planets.sun.drawDeferent     = false;
    universe.planets.mercury.drawDeferent = true;
    universe.planets.mercury.drawEccentric = false;
    universe.planets.mercury.drawEquant   = false;

    universe.eccentricityFactor =5;
    /*
    http://www.clas.ufl.edu/users/ufhatch/HIS-SCI-STUDY-GUIDE/0034_summaryPtolemiacAstron.html
    Robert A. Hatch says "In the case of Mercury, Ptolemy found he could not allow even the equant to be stationary".  I can't find anybody else who says that, others put the equant at the eccentric, and say the deferent moves with respect to that static rather than moving equant. 
    */
    universe.planets.mercury.eccentric(6).cycles([
    {mm:-mm,radius:3},
    {mm:mm,radius:18,equant:3},
    {mm:universe.planets.mercury.mm-mm,radius:6},
    ]);
    universe.setup(1); 
  }
</script>

<div id='lefttext'>
  <p>In Ptoelemy's final model, Mercury's deferent center moves on an inner auxillary
  circle with a radius of half
  the eccentric, and the deferent moves with respect to an equant point at the eccentric,
  which weaves these strange designs.
  
</div>
<div id='righttext'>
  As <%= link_to "al-Haytham", "http://en.wikipedia.org/wiki/Alhazen" %> complained,
  however, the real challenge here is to build a model in which Mercury
  doesn't periodically collide with the Sun. The same problem can afflict <a href="/ptolemy/mars">Ptolemaic models of Mars</a>, which periodically comes closer to the Earth than Sun.
  
</div>
