<script>
  window.onload = function(){
    var universe = new Universe();

    universe.init({ earth:{type:'center'},mercury:{},sun:{} });
    universe.max_planet_size = 25;
    universe.min_planet_size = 5;

    universe.planets.sun.aus = 20;
    mm    = universe.planets.mercury.mm;
    aus   = universe.planets.mercury.aus;

    universe.planets.sun.drawDeferent = false;
    universe.planets.mercury.drawEccentric = false;

    universe.rate = 1;
    universe.planets.mercury.eccentric(1).equant({period:-universe.planets.sun.mm,radius:1}).deferent(universe.planets.sun.mm,10).epicycles({period:universe.planets.sun.mm*3.1,radius:3.3});
    universe.setup(1); 
  }
</script>

<div id='lefttext'>
  Ptolemy's Mercury with incorrect parameters.   I'm reading alternatively that the equant
  was at the eccentric point, or, wierder, that the equant moved on the inner epicycle.
  It's somewhat confusing, and while I'm <em>pretty</em> sure the period of the inner
  epicycle is just opposite the sun, and the deferent follows the sun as in the Venus
  model, I haven't found parameters for the outer epicycle.

  <p>But this is kind of the gist of the thing.
 </div>
