<script>
  window.onload = function(){
    var universe = new Universe();

    universe.init({ earth:{type:'center'},mercury:{},sun:{} });
    universe.max_planet_size = 25;
    universe.min_planet_size = 5;

    universe.planets.sun.aus = 20;
    mm    = universe.planets.sun.mm;

    universe.planets.sun.drawDeferent     = false;
    universe.planets.mercury.drawDeferent = true;

    universe.planets.mercury.drawEccentric = false;

    universe.rate = 1;
    universe.planets.mercury.eccentric(1).equant(1).deferent(-mm,1).epicycles([{period:mm,radius:10},{period:mm*3.1,radius:3.3}]);

    //universe.planets.mercury.eccentric(1).equant({period:-mm,radius:1}).deferent(mm,10).epicycles([{period:mm*3.1,radius:3.3}]);
    universe.setup(1); 
  }
</script>

<div id='lefttext'>
  <p>This is rather wrong, as the inner auxillary circle is supposed to move uniformly with
  respect to it's center, and deferent should be moving uniformly with respect to the equant.
  It's doing the opposite.

</div>
