<script>
  window.onload = function(){
    var universe = new Universe({ earth:{type:'center'},sun:{}});
    universe.planets.sun.drawDeferent = false;
    universe.planets.sun.eccentric(.05); 
    universe.setup(1); 
  }
</script>

<div id='lefttext'>
  A simple eccentric sun.
</div>
