<script>
  window.onload = function(){
    var universe = new Universe();
    universe.label  = true;

    universe.init({ sun:{},venus:{},earth:{type:'center'},mars:{},jupiter:{},saturn:{} });
    universe.min_planet_size = 4;
    universe.rate = 5;
    universe.planets.venus.aus = 0.45 // push it back inside the sun's orbit.
    universe.planets.sun.eccentric(.05).equant(false);
    universe.planets.sun.aus = 0.8;

    <%= render "venus" %>
    <%= render "mars" %>
    <%= render "jupiter" %>
    <%= render "saturn" %>
    universe.setup(); 
  }
</script>

<div id='lefttext'>
  Here's <a href="http://en.wikipedia.org/wiki/Ptolemy">Ptolemaeus'</a> solar system jumbled together. 
 </div>

<div id='righttext'>
</div>

