<script>
  window.onload = function(){
    var universe = new Universe();
    // Ptolemy's Venus
    universe.init({ sun:{},earth:{type:'center'},venus:{}  });
    universe.planets.sun.eccentric(0);
    universe.max_planet_size = 15;
    universe.planets.sun.aus  = 120;
    universe.planets.venus.aus = 60; // unit distances
    <%= render 'venus' %>

    universe.setup(); 
  }
</script>

<div id='lefttext'>
  The inferior planets' epicycles move on a deferent point that is approximately aligned with the mean sun.  You'll notice the equant in this case nudges Venus' deferent back and forth around the mean sun.

  <p>Note the phas cycle of Venus here with respect to the Earth.  In Ptolemy's model it will never be full.

</div>
