<script>
  window.onload = function(){
    var universe = new Universe({ sun:{},earth:{type:'center'},moon:{} });
    universe.label  = true;

    universe.satellitePaths    = true;
    universe.includeSatellites = true;

    universe.rate = .1;
    universe.min_planet_size = 5;
    universe.max_planet_size = 5;

    universe.planets.sun.cycles([
      {radius:'80;0',mm:'0;59,8,20'}, // shatir's mean sun
    ]) ;
    universe.planets.sun.name = 'mean sun';
    // http://books.google.com/books?id=mOquCzBX3xcC&pg=PA264&lpg=PA264
    universe.planets.moon.cycles([
      {mm:"13;13,45,39,40", radius:'60'},
      {type:'tusi',mm:-1.2,radius:'15'},
    ]);

    universe.setup(1); 
  }
</script>

<div id='lefttext'>
  Did Tusi do something liek this?
</div>

<div id='righttext'>
</div>

