<script>
  window.onload = function(){
    var universe = new Universe ({ sun:{},earth:{type:'center'} });

    universe.max_planet_size = 5;
    universe.min_planet_size = 5;
    universe.rate = .5;
    universe.label = true;
    universe.planets.sun.drawDeferent = true;
    universe.planets.sun.name = 'sun';
    universe.planets.sun.shadow = false;
    // A History of Arabic Astronomy: Planetary Theories During the Golden Age of Islam, George Saliba, p.239
    universe.planets.sun.cycles([
      {radius:'60;0',mm:'0;59,8,9,51,46,57,32,3',name:'parecleptic'}, // paraecleptic
      {radius:'4;37',mm:'-0;59,8,9,51,46,57,32,3',name:'deferent'}, // deferent
      {type:'urdi', radius:'2;30', mm:'2*0;59,8,9,51,46,57,32,3',name:'director'} // the director, twice the speed of the paraecleptic
    ]);

    universe.setup(); 
  }
</script>

<div id='lefttext'>
  Ibn al-Shatir (1304–1375CE) was timekeeper (<em>muwaqqit</em>) at the Umayyad Mosque
  in Damascus.  In his major astronomical treatise, awesomely titled <em>The Final Quest Concerning the Rectification of Principles</em>, he constructed a model of celestial mechanics with
  no equants or
  eccentrics, solving a variety of theoretical and physical problems of earlier models and
  bringing the mechanics of the heavens in line with contemporary Aristotelian physics.
 </div>

<div id='righttext'>
 This is his model of the Sun, as described by Geoege Saliba
  in his <em>History of Arabic Astronomy</em>, <%= link_to "p.239", "http://books.google.com/books?id=mOquCzBX3xcC&pg=PA239&lpg=PA239" %>.  The Sun travels on a pair of epicycles (the clockwise deferent and half-sized, twice-as-fast counter-clockwise director) that re-create 
  uniform motion around an off-center point (the first point 'north' of Earth) without resorting to the equant point.  This alternative to the equant is known as Urdi's Lemma, after the astronomer and architect <%= link_to "Mu'ayyad al-Din al-'Urdi","http://en.wikipedia.org/wiki/Mu%27ayyad_al-Din_al-%27Urdi" %> (d.1266CE) who discovered it.

   
</div>

