<script>
  window.onload = function(){
    var universe = new Universe ({ sun:{},earth:{type:'center'} });

    universe.max_planet_size = 5;
    universe.min_planet_size = 5;
    universe.rate = .5;
    universe.label = true;

    <%= render 'sun' %>

    universe.setup(); 
  }
</script>

<div id='lefttext'>
  Ibn al-Shatir (1304–1375CE) was timekeeper (<em>muwaqqit</em>) at the Umayyad Mosque
  in Damascus.  In his major astronomical treatise, awesomely titled <em>The Final Quest Concerning the Rectification of Principles</em>, he constructed a model of celestial mechanics with
  no equants or
  eccentrics, solving a variety of theoretical and physical problems of earlier models and
  bringing the mechanics of the heavens in line with contemporary Aristotelian physics.

 </div>

<div id='righttext'>
  This is his model of the Sun, as described by George Saliba
  in his <em>History of Arabic Astronomy</em>, <%= link_to "p.239", "http://books.google.com/books?id=mOquCzBX3xcC&pg=PA239&lpg=PA239" %>.  The Sun travels on a pair of epicycles (the clockwise deferent and half-sized, twice-as-fast counter-clockwise director) that re-create 
  uniform motion around an off-center point (the first point 'north' of Earth) without resorting to the equant or eccentric models of Ptolemaeus.  This alternative to the equant is now known as Urdi's Lemma, after the astronomer and architect <%= link_to "Mu'ayyad al-Din al-'Urdi","http://en.wikipedia.org/wiki/Mu%27ayyad_al-Din_al-%27Urdi" %> (d.1266CE) who devised it, and which was later used by Copernicus, who utilized it without offering any corresponding geometric proof. 
  
  <p>Ibn al-Shatir devised this particular model to more closely conform to observational data, in particular the variable distance between the Earth and Sun and resulting variation in the apparent size of the solar disc.
   
</div>

