
<div class='text'>
  These canvas animations of astronomic models are the private hobby horse of Joshua Buermann, and a very incomplete work in progress at that.  Any mistakes or errors are attributable to the same.  For anything that appears to be remotely correct, credit goes to the historians of science who made the centuries old work of ancient astronomers legible to the modern student.  It's all Sanskrit, Greek, Arabic, or Latin to me.

  <p>In particular, Dennis Duke's <%= link_to 'flash animations', "http://people.sc.fsu.edu/~dduke/models" %> and lecture notes have been invaluable.  George Saliba's <em>Islamic Science and the Making of the European Renaissance</em> (MIT Press, 2007).  James Evans' <em>History and Practice of Ancient Astronomy</em> (Oxford University Press, 1998).  Otto E. Neugebauer's excellent <em>The Exact Sciences in Antiquity</em> (Dover Publications; 2 edition, 1969).  
  
  <p>The background image is <%= link_to "Alex Mellinger", "http://canopus.physik.uni-potsdam.de/~axm/astrophot.html" %>'s beautiful composite image of the Southern sky.  All models are constructed as though looking down from the north pole of the ecliptic, so it seemed appropriate.

  <p>This project is licensed under <%= link_to "the GPL", "http://www.gnu.org/copyleft/gpl.html" %>.  The source is available <%= link_to "on github", "https://github.com/buermann/keplerator" %>.

  <p><ul>Joshua Buermann &copy; 2012.</ul>


</div>
