
<div class='text'>
  These canvas animations of astronomic models are the private hobby horse of Joshua Buermann, and a very incomplete work in progress at that.  Any mistakes or errors are attributable to the same.  For anything that appears to be correct, credit should be assigned to the many historians of science who have made it their task to render legible to the modern student the centuries old scribbles of ancient astronomers.

  <p>In particular, Dennis Duke's <%= link_to 'animations', "http://people.sc.fsu.edu/~dduke/models" %> have been invaluable and I have quite happily ripped off in whole his procedure for solving the equant.  George Saliba's <em>Islamic Science and the Making of the European Renaissance</em> (MIT Press, 2007).  James Evans' <em>History and practice of ancient astronomy</em> (Oxford University Press, 1998).  Otto E. Neugebauer, <em>The Exact Sciences in Antiquity</em> (Dover Publications; 2 edition, 1969).  
  
  <p>The background image is <%= link_to "Alex Mellinger", "http://canopus.physik.uni-potsdam.de/~axm/astrophot.html" %>'s beautiful composite image of the Southern sky.  All models are constructed as though looking down from the north pole of the ecliptic, so it seemed appropriate.
  
  <p><ul>Joshua Buermann &copy; 2012.</ul>


</div>
