<script>
  window.onload = function(){
    var universe = new Universe();

    // Ptolemy's Sun
    universe.init({ sun:{},earth:{type:'center'} });

    universe.planets.sun.eccentric(.2)

    universe.setup(1); 
  }
</script>

<div id='lefttext'>These models were used to determine the relative positions of celestial objects over the course of a year.  The diurnal movements in which everything rotates together around the Earth, or equivalently (and it was recognized as equivalent by early Islamic astronomers such as the 10th century al-Biruni) the Earth rotates on its axis, are not represented here, as they'd merely introduce an eye watering strobe effect.

</div>
