<script>
  window.onload = function(){
    var universe = new Universe({ sun:{type:'center'},mercury:{},venus:{},earth:{},moon:{},mars:{}/*,jupiter:{},saturn:{} */});
    universe.label  = true;

    universe.satellitePaths    = false;
    universe.includeSatellites = true;

    universe.rate = .5;
    universe.min_planet_size = 4;
    universe.max_planet_size = 12;

    for (var i in universe.planets) {
      p = universe.planets[i];
      eccentric = p.eccentricity || 0;

      if (i == 'moon') {
        p.cycles([
        // scale Ibn al-Shatir's model into view:
          {mm:"13;13,45,39,40", radius:.25*.60},
          {mm:"-13;3,53,46,18",radius:.5*.06583333333333333 },
          {mm:"24;22,53,23",radius:.014166666666666667},  
          ]) ;
        continue;
      }
      if (i == 'earth') { 
        p.eccentric(p.eccentricity).deferent();
        continue;
      }
      if (i == 'mercury') { 
        p.eccentric(eccentric).cycles([
        {radius:p.aus, mm:.5*p.mm},
        {type:'tusi',radius:p.aus*.1, mm:.5},
        ]);
        continue;
      }
      // http://farside.ph.utexas.edu/syntaxis/Almagest/node4.html
      p.eccentric(eccentric).cycles([
        {radius:p.aus, mm:.5*p.mm},
        {radius:p.aus*.1, mm:p.mm},
      ]);
    }
    universe.setup(); 
  }
</script>

<div id='lefttext'>
  Here we have a first draft based on <%= link_to "Richard Fitzpatrick's description", "http://farside.ph.utexas.edu/syntaxis/Almagest/node4.html" %> of Copernicus' heliostatic universe.  The Earth moves on a uniform circular orbit at a small eccentric to the Sun while the Moon moves about the Earth per <%= link_to "Ibn al-Shatir's lunar model", "/shatir/moon/" %> (greatly exaggerated here to scale into frame).  The planets move about the Sun on epicycles that rotate twice as fast as their deferents, with eccentrics about equal to the eliptical eccentricity of their modern orbits.  There's a missing epicycle for Mercury that Fitzpatrick mentions but does not describe.  Mario di Bono says he used the Tusi couple on Mercury in his <%= link_to "1995 paper", "http://articles.adsabs.harvard.edu/full/1995JHA....26..133D" %> (p.147) arguing that Copernicus may have devised it independently as variation on a similar device by Proclus.
  
</div>

<div id='righttext'>
  <p>The great innovation to medieval eyes was ridding the model of the equant.  To Kepler's eyes the great innovation was explaining the retrograde motions of the planets without "the hundred-times-more-absurd spirals".
</div>

