
In Islamic <em>zijs</em> positions were written out as a,b;c,d, meaning a*60+b+c/60+d/3600.  Indian astronomers introduced the sine to replace the Greek chord function, using a base radius of 60, so sin(theta) = .5 chord(2*theta) = R*sin(theta).

<p>In timekeeping the versed sine (al-sahm) was used, vers(theta) = R-cos(theta) = R(1-cos(theta)), as well as the occasional cosecant (qutr al-zill) csc(theta) = R^2/cos(theta)/cos(theta) = R csc(theta).

<blockquote>
  The earliest sine tables, from the 9th century, gave values to three sexagesimal places for each 1 degree of argument.  By the 15th century accurate tables wre available displaying the function to five places for each minute of argument.  This was achieved by first deriving a very precise value of Sin 1 degree and utilizing a clever method of second order interpolation.
</blockquote>
