<script>
  window.onload = function(){
    var universe = new Universe({ earth:{type:'center'},mercury:{center:'sun'},venus:{center:'sun'},sun:{center:'earth'},moon:{center:'earth'},mars:{center:'sun'}/*,jupiter:{},saturn:{} */});
    universe.label  = true;

    universe.satellitePaths    = true;
    universe.includeSatellites = true;
    universe.rate = 1;

    aus = universe.planets.moon.aus;
    mm  = universe.planets.moon.mm;
    universe.planets.moon.deferent({mm:mm*-0.8,radius:aus*80*.25}).cycle({mm:mm*0.9,radius:aus*80*.75}).cycle({mm:mm*.015,radius:aus*80*.1});

    for (var i in universe.planets) {
      p = universe.planets[i];
      if (i == 'moon' || i == 'sun') { continue;}
      p.eccentric(p.eccentricity||0).deferent()
    }

    universe.setup(); 
  }
</script>

<div id='lefttext'>
  <a href="http://en.wikipedia.org/wiki/Tycho_Brahe">Tycho Brahe's</a> geoheliocentric model had the Moon and Sun orbiting the Earth, and the rest of the planets orbit the Sun. Similar models in which the inner planets circled the sun were commonly adopted in the past by the Egyptians, and later <a href="http://en.wikipedia.org/wiki/Heraclides_Ponticus">Herakleides Ponticus [400BC]</a>, <a href="http://en.wikipedia.org/wiki/Martianus_Capella">Martianus Capella [400AD]</a>, and <a href="http://en.wikipedia.org/wiki/Macrobius">Macrobius [400AD]</a>.
  
<p>Tychonic systems became a 
popular Aristotelian alterntive to Copernicus and Kepler for much of the 17th century, and remained doctrine among the Jesuits until the mid 18th century until after James Bradley's observation of the <a href="http://cseligman.com/text/history/bradley.htm">stellar abberation</a> in 1725 provided the first empirical evidence of the earth's motion.
 </div>

<div id='righttext'>
  <p>As I'm lacking any parameters or specific details for Tycho's system, this model is just the modern relative distances scaled to the browser window, with the planets drawing circles around the Sun.  Probably utter nonsense,  scaled so poorly that the poor Moon collides with Venus every few decades, while Tycho's system was an elegant, philisophically and religiously appealing synthesis of conflicting theories that did not arbitrarily smash celestial bodies into one another.  It also, coicidentally, continues to have a handful of modern adherents.


  Note the full phase of Venus when it is opposite the Sun from the Earth.

  <p>A highly exaggerated Lunar model of some sort is included here merely for kicks.
</div>

