<script>
  window.onload = function(){
    var universe = new Universe({ earth:{type:'center'},mercury:{center:'sun'},venus:{center:'sun'},sun:{center:'earth'},moon:{center:'earth'},mars:{center:'sun'}/*,jupiter:{},saturn:{} */});
    universe.label  = true;

    universe.satellitePaths    = true;
    universe.includeSatellites = true;
    universe.rate = 1;
    universe.min_planet_size = 4;
    universe.max_planet_size = 12;

    aus = universe.planets.moon.aus;
    mm  = universe.planets.moon.mm;
    universe.planets.moon.deferent({mm:mm*-0.8,radius:aus*80*.25}).cycle({mm:mm*0.9,radius:aus*80*.75}).cycle({mm:mm*.015,radius:aus*80*.1});

    for (var i in universe.planets) {
      p = universe.planets[i];
      if (i == 'moon' || i == 'sun') { continue;}
      p.eccentric(.1).deferent().couple({radius:.2*p.aus});
    }

    universe.setup(); 
  }
</script>

<div id='lefttext'>
  <a href="http://en.wikipedia.org/wiki/Tycho_Brahe">Tycho Brahe's</a> geoheliocentric model had the Moon and Sun orbiting the Earth, and the rest of the planets orbit the Sun, not unlike the ancient Egyptian models in which the inner planets orbited the sun and the outer planets orbited Earth.  It was a popular alterntive to the Copernican system for much of the 17th century, and was doctrine among the Jesuits until the mid 18th century.

  <p>As I'm lacking any parameters or specific details for Tycho's system, this model is just the modern relative distances scaled to the browser window, with the planets drawing eccentric elipses around the Sun by way of the Tusi couple.  That is to say, it is total and utter nonsense,  scaled so poorly that the poor Moon collides with Venus every few decades, while Tycho's system was an elegant, philisophically and religiously appealing synthesis of conflicting theories that did not arbitrarily smash celestial bodies into one another.  It also, coicidentally, continues to have a handful of modern adherents.

 </div>

<div id='righttext'>
  Note the full phase of Venus when it is opposite the Sun from the Earth.

  <p>A highly exaggerated Lunar model is included here merely for kicks.
</div>

