/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body { color:#DDD; border:0; margin:0; padding:0; background-color:#003; background:url("/alex-mellinger-2009-western-edge.png") center center no-repeat;  background-attachment:fixed; background-size: 100% 100%;}
#text { margin: 10%; } 
#toptext { width:90%; margin: 0% 5% 0% 5%; } 
#lefttext { float: left; width:20%; margin: 5% 0 0 5%; } 
#righttext { float:right; width:20%; margin: 5% 5% 0 0; vertical-align:top; } 

#easel { } /* It might make sense to have a div wrapper for positioning? */
#dynamic,#static { position:absolute; left:25%; top:1em; padding:0; margin:0; border:0;  }
#static { z-index:0; }
#dynamic { z-index:5; }
