/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html { height: 100%; min-height: 100%; }
body {
  min-height: 100%;
  color:#DDD;
  border:0; margin:0; padding:0;
  background-color:#003;
  background:url("/alex-mellinger-2009-western-edge.png") center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family:"Helvetica",Sans-serif;
}

a         { text-decoration:none; }
a:link    {color:#A0A7A5;}
a:active  {color:#FFFFFF;} 
a:hover   {color:#FEFDF8;}
a:visited {color:#AFACA8;}


#toptext { width:90%; margin: 5px 5% 0% 5%; } 
#toptext .right_nav { float: right; } 
#lefttext { float: left; width:20%; margin: 1% 0 1% 5%; } 
#righttext { float: right; width:20%; margin: 2% 5% 1% 0; vertical-align:top; } 

#canvas { float: left; margin: 2% 0 0 0;  }
#dynamic,#static {
  position:absolute;
}
#static { z-index:0; }
#dynamic { z-index:5; }

/* smartphone portrait mode, vertical layout */
@media all and (orientation:portrait) {
  html, body { margin: 0; } 
  #lefttext,#righttext,#canvas {
    width: 90%;
    clear: both;
  }

  #toptext { font-size:2em; }  
  #lefttext { }
  #righttext {  }
  #canvas { margin:0;  }

}


