/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html { min-height: 100%; }
body {
  min-height: 100%;
  color:#DDD;
  border:0; margin:0; padding:0;
  background-color:#003;
  background:url("/alex-mellinger-2009-western-edge.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:"Helvetica",Sans-serif;
  font-size:.8em;
}

a         { text-decoration:none; }
a:link    {color:#A0A7A5;}
a:active  {color:#FFFFFF;} 
a:hover   {color:#FEFDF8;}
a:visited {color:#AFACA8;}

.text { margin: 5% 10% 0 10%; } 
.right { float: right; } 
#toptext { width:90%; margin: 0% 5% 0% 5%; } 
#lefttext { float: left; width:20%; margin: 5% 0 0 5%; } 
#righttext { float:right; width:20%; margin: 5% 5% 0 0; vertical-align:top; } 

#easel { } /* It might make sense to have a div wrapper for positioning? */
#dynamic,#static { position:absolute; left:25%; top:1em; padding:0; margin:0; border:0;  }
#static { z-index:0; }
#dynamic { z-index:5; }
