<script>
  window.onload = function(){
    var universe = new Universe( {sun:{type:'center'},
      mercury:{},
      venus:{},
      earth:{},
      mars:{},
      /*jupiter:{},
      saturn:{} */
    });
    for (var i in universe.planets) {
      universe.planets[i].elliptic();
      universe.planets[i].drawDeferent = true;

    }
    universe.max_planet_size = 10;
    universe.rate = .5;
    universe.label = true;

    universe.eccentricityFactor = 1;

    universe.setup(); 
  }
</script>

<div id='lefttext'>
  Kepler was the first astronomer to wholly abandon Aristotelian
  physics and its principal that heavenly objects move in circles. Instead
  he adopted heliocentrism, and subsequently the elipse, for purely aesthetic reasons.
  Indeed, no physical evidence for heliocentricity existed until Friedrich Bessel's
  observation of the stellar parallax in 1838 and Leon Foucault's pendulum
  in 1851.
 
</div>

<div id='righttext' >
</div>
