<script>
  window.onload = function(){
    var universe = new Universe();

    universe.init({sun:{type:'center'},
      mercury:{},
      venus:{},
      earth:{},
      mars:{},
      jupiter:{},
      saturn:{}
    });
    for (var i in universe.planets) {
      universe.planets[i].elliptic();
    }
    universe.max_planet_size = 10;
    universe.rate = 2;
    universe.label = true;
    universe.eccentricityFactor = 1;

    universe.setup(); 
  }
</script>

<div id='lefttext'>
  Kepler's model of the solar system.
</div>

<div id='righttext' >
</div>
