<script>
  window.onload = function(){
    var universe = new Universe( {sun:{type:'center'},
      mercury:{},
      venus:{},
      earth:{},
      mars:{},
      /*jupiter:{},
      saturn:{} */
    });
    for (var i in universe.planets) {
      universe.planets[i].elliptic();
    }
    universe.max_planet_size = 10;
    universe.rate = .5;
    universe.label = true;

    universe.eccentricityFactor = 1;

    universe.setup(); 
  }
</script>

<div id='lefttext'>
  Kepler's final model of the solar system abandoned circles entirely
  and adopted the ellipse.
</div>

<div id='righttext' >
</div>
