Abu al-Rayḥan Muḥammad ibn Aḥmad al-Biruni, Alberonius, c.973-1048.

<p>Biruni rejected the immobility of the Sun's eccentric, as proposed by Ptolemy.

<p>For the modern reader perhaps the most interesting thing about al-Biruni's
astronomy are his debates with contemporaries in India regarding the movement of the earth,
as since <a href="http://en.wikipedia.org/wiki/Aryabhata#Astronomy">Aryabhata (b.476-550AD)</a> Indian astronomers believed the Earth's rotation caused the apparent westward motion of the heavens:

<blockquote>
[T]he rotation of the earth does in no way impair the value of astronomy, as all appearances of an astronomic character can quite as well be explained according to this theory as to the other. There are, however, other reasons which make it impossible. This question is most difficult to solve. The most prominent of both modern and ancient astronomers have deeply studied the question of the moving of the earth, and tried to refute it. We, too, have composed a book on the subject called <em>Miftah-ilm-alhai'a</em> (Key to Astronomy), in which we think we have surpassed our predecessors, if not in the words, at all events In the matter.
</blockquote>

<p>Sadly no copy of Biruni's Key to Astronomy is extant, so we don't know how he settled the matter.  He goes further in his <em>Mas'ud Canon</em>, arguing that contemporary heliocentric and geocentric hypotheses are mathematically equivalent, but for quite sound reasons argues that the heliocentric hypthesis is physically impossible.  He approves of the concept of the rotating earth.


